@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f4f4;
    --foreground: #09090b;

    --card: #eeeef1;
    --card-foreground: #09090b;

    --popover: #e6e6e6;
    --popover-foreground: #09090b;

    --primary: #8bc24a;
    --primary-foreground: #fafafa;

    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;

    --muted: #dfe0e3;
    --muted-dark: #a7a7af;

    --group: #cacdcf;
    --group-dark: #a4a5a6;
    --group-foreground: #a1a1aa;

    --accent: #f4f4f5;
    --accent-foreground: #18181b;

    --destructive: #ef4343;
    --destructive-foreground: #fafafa;

    --border: #d8d8da;
    --input: #d8d8da;
    --ring: #4e4e5f;

    --scroll-thumb: #8a8a8a;
    --scroll-hover: #4c4957;
    --scroll-track: #cccccc;

    --radius: 0.5rem;
  }

  .dark {
    --background: #1e1e23;
    --foreground: #fafafa;

    --card: #151519;
    --card-foreground: #fafafa;

    --popover: #1b1b20;
    --popover-foreground: #fafafa;

    --primary: #8bc24a;
    --primary-foreground: #18181b;

    --secondary: #27272a;
    --secondary-foreground: #fafafa;

    --muted: #26262d;
    --muted-dark: #18181c;
    --muted-foreground: #a1a1aa;

    --group: #141419;
    --group-dark: #0d0d10;
    --group-foreground: #a1a1aa;

    --accent: #27272a;
    --accent-foreground: #fafafa;

    --destructive: #811d1d;
    --destructive-foreground: #fafafa;

    --scroll-thumb: #3f3f46;
    --scroll-hover: #4c4957;
    --scroll-track: #25252e;

    --border: #3b3b40;
    --input: #3b3b40;
    --ring: #d4d4d8;
  }

  .black {
    --background: #000000;
    --foreground: #fafafa;

    --card: #09090b;
    --card-foreground: #fafafa;

    --popover: #1b1b20;
    --popover-foreground: #fafafa;

    --primary: #8bc24a;
    --primary-foreground: #18181b;

    --secondary: #27272a;
    --secondary-foreground: #fafafa;

    --muted: #141419;
    --muted-dark: #0b0b0c;
    --muted-foreground: #a1a1aa;

    --group: #202027;
    --group-dark: #17171c;
    --group-foreground: #a1a1aa;

    --accent: #27272a;
    --accent-foreground: #fafafa;

    --destructive: #811d1d;
    --destructive-foreground: #fafafa;

    --scroll-thumb: #3f3f46;
    --scroll-hover: #4c4957;
    --scroll-track: #151519;

    --border: #252529;
    --input: #3b3b40;
    --ring: #d4d4d8;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply bg-background text-foreground;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.console-green {
  color: #8bc24a;
}

.console-red {
  color: #f44336;
}

.console-broken {
  color: #cf4f0d;
}

.console-abandoned {
  color: #bc2017;
}

.console-workaround {
  color: #d6c725;
}

.console-unofficial {
  color: #d6c725;
}

.console-yellow {
  color: #d6c425;
}

.console-blue {
  color: #2196f3;
}

.console-gray {
  color: #828282;
}

a {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-track);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover);
}